<section class="pendingbox">
    <p class="heading">
        Pending Actions
    </p>
    <div style="max-height: 300px; overflow-y: scroll;">
        <div fxLayout="column" class="container">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="container-top">
                <p class="codetext">#trd354698</p>
                <p class="timeline">10 days ago</p>
            </div>
            <p class="hint">2 Files are waiting to be Uploaded </p>
        </div>
        <div fxLayout="column" class="container">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="container-top">
                <p class="codetext">#trd354698</p>
                <p class="timeline">10 days ago</p>
            </div>
            <p class="hint">2 Files are waiting to be Uploaded </p>
        </div>
        <div fxLayout="column" class="container">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="container-top">
                <p class="codetext">#trd354698</p>
                <p class="timeline">10 days ago</p>
            </div>
            <p class="hint">2 Files are waiting to be Uploaded </p>
        </div>
        <div fxLayout="column" class="container">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="container-top">
                <p class="codetext">#trd354698</p>
                <p class="timeline">10 days ago</p>
            </div>
            <p class="hint">2 Files are waiting to be Uploaded </p>
        </div>
        <div style="margin-bottom: 20px;" fxLayout="column" class="container">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="container-top">
                <p class="codetext">#trd354698</p>
                <p class="timeline">10 days ago</p>
            </div>
            <p class="hint">2 Files are waiting to be Uploaded </p>
        </div>
    </div>
</section>