<div  fxLayout="row" fxLayoutAlign="space-between center" style="padding: 20px
; background-color: white; margin-top: 20px;">
    <div fxLayout="row" fxLayoutGap="10px">
        
          <i style=" color: var(--primary-color); font-size: 24px;" class='bx bxl-facebook-circle'></i>
          
          <i style=" color: var(--primary-color); font-size: 24px" class='bx bxl-twitter' ></i>
          
          <i style=" color: var(--primary-color); font-size: 24px" class='bx bxl-linkedin' ></i>
    </div>
    <p style="margin: 0px;">
        © 2023 All rights reserved
    </p>
</div>