<section class="freqBox">
  <p class="heading">Frequently Used</p>
  <div
    fxLayout.gt-xs="row wrap"
    fxLayout.xs="column" 
    fxLayoutAlign.gt-xs="space-between center"
    class="container"
  >
    <div fxFlex.sm="48%" fxFlex.md="32%" fxFlex.xs="0" fxFlex.lg="31%" class="container-box">
      <p class="title">View Funds</p>
      <p class="subtext">
        You have used the service 20 times in the last one week!
      </p>
      <p class="cta">Action CTA >></p>
    </div>

    <div fxFlex.sm="48%" fxFlex.md="32%" fxFlex.xs="0" fxFlex.lg="31%" class="container-box">
        <p class="title">View Funds</p>
        <p class="subtext">
          You have used the service 20 times in the last one week!
        </p>
        <p class="cta">Action CTA >></p>
      </div>

      <div fxFlex.sm="48%" fxFlex.md="32%" fxFlex.xs="0" fxFlex.lg="31%" class="container-box">
        <p class="title">View Funds</p>
        <p class="subtext">
          You have used the service 20 times in the last one week!
        </p>
        <p class="cta">Action CTA >></p>
      </div>
    
  </div>
</section>
