<section class="freqBox">
    <p class="heading">
        Frequently Used
    </p>
    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="space-between center" class="container">
        <div fxFlex="31%" class="container-box">
            <p class="title">View Funds</p>
            <p class="subtext">You have used the service 20 times in the last one week!</p>
            <p class="cta">Action CTA >></p>
        </div>
        <div fxFlex="31%" class="container-box">
            <p class="title">View Funds</p>
            <p class="subtext">You have used the service 20 times in the last one week!</p>
            <p class="cta">Action CTA >></p>
        </div>
        <div fxFlex="31%" class="container-box">
            <p class="title">View Funds</p>
            <p class="subtext">You have used the service 20 times in the last one week!</p>
            <p class="cta">Action CTA >></p>
        </div>
    </div>
</section>