::ng-deep .mat-mdc-form-field-infix {
  min-height: 0px;
}
::ng-deep .mat-mdc-form-field-infix {
  padding: 0px !important;
}
::ng-deep .mat-mdc-icon-button.mat-mdc-button-base {
  width: 24px;
  height: 24px;
  padding: 0px;
}

.custom-datepicker {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 185px;
  margin-right: 20px;
}

.montyearpicker {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 185px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
::ng-deep .mdc-text-field {
  border: none;
}

::ng-deep
  .mat-mdc-text-field-wrapper
  .mat-mdc-form-field-flex
  .mat-mdc-floating-label {
  top: 10px;
}
::ng-deep .mdc-text-field--filled .mdc-floating-label--float-above {
  display: none;
}
::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
  border-color: black;
}
::ng-deep .mdc-line-ripple::before {
  border-bottom-style: none !important;
  border-bottom-width: 0px;
}
::ng-deep .mdc-line-ripple::after {
  border-bottom-style: none !important;
  border-bottom-width: 0px;
}

::ng-deep .mat-mdc-form-field-flex {
  align-items: center !important;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
  border: 1px solid var(--primary-color);
  font-size: 14px;
  border-radius: 4px;
  width: 185px;
  padding-left: 3px;
}
::ng-deep .mat-form-field-appearance-fill .mat-mdc-select-arrow-wrapper {
  transform: none !important;
}
::ng-deep .mat-mdc-option.mdc-list-item {
  font-size: 14px !important;
}
::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding-left: 3px;
}
.colorboxtext {
  align-items: center;
  .text {
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }
}
.echarts__demo {
  height: 250px;
  width: 100%;
}

::ng-deep foreignObject {
  display: none;
}
::ng-deep .apexcharts-datalabels {
  display: none;
}
#chart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dateBox {
  padding-top: 20px;
}
.field {
  margin-bottom: 20px;
}
.orderdetails {
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
.orderdetails-title {
  margin: 0px;
  font-weight: 600;
}
.orderdetails-container {
  padding: 15px;
  background-color: var(--background-color);
  border-radius: 8px;
}
.orderHeading p {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}
.orderHeading i {
  font-size: 50px;
  color: var(--primary-color);
}
.bottomText {
  font-size: 13px;
  color: grey;
  margin: 0;
}
.graphBox {
  background-color: white;
  padding: 20px;
}
.graphBox-heading {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
}
